@CHARSET "UTF-8";
/*清除样式*/
*{
    margin: 0px;
    padding: 0px;
}

/*设置最外面包裹层，使其在网页中居中显示*/
.wrap{
    margin: 0 auto;
    width: 1100px;
}

/* 设置中间内容的样式,即表格的样式 */
.content{
	/* background-color:#333333; */
	margin-top:20px;
	width: 1100px;
}

/* 设置图片、文字整个区域的布局 */
.display{
	float:left;
	margin:10px 0px 10px 36px;
}

/* 设置图片区域样式 */
.dt_picture{
	background-color:pink;
	width:230px;
	height:330px;
}

/* 设置图片样式，大小、边框等 */
.dt_picture img{
	width:230px;
	height:330px;
	border: 2px solid #77aaff;
	/*圆角边框*/
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;     /*chrome and safari*/
    -moz-border-radius: 50px 50px 50px 50px;        /*firefox*/
    -ms-border-radius: 50px 50px 50px 50px;         /*IE*/
    -o-border-radius: 50px 50px 50px 50px;          /*opera*/
}

/* 设置当鼠标滑过图片时，图片放大显示的样式 */
.dt_picture img:hover{
	position: absolute;
	z-index: 1;		/* z-index属性在有position属性时，才有效 */
	cursor: pointer;
	width:450px;
	height:550px;
	border: 2px solid #77aaff;
	/*圆角边框*/
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;     /*chrome and safari*/
    -moz-border-radius: 50px 50px 50px 50px;        /*firefox*/
    -ms-border-radius: 50px 50px 50px 50px;         /*IE*/
    -o-border-radius: 50px 50px 50px 50px;          /*opera*/
}

/* 设置文字区域样式 */
.dd_text{
	/* background-color:#ff5588; */
	margin:10px;
	font-size:20px;
	font-family:"宋体";
	text-align:center;
}


